@inherits AutoCompleteBase

<div @onkeydown="HandleKeyDown" @onkeydown:stopPropagation>

    <span class="labelArea">@LabelText</span>

    @if (selected)
    {
        <a href="#" 
            tabindex="@baseIndex"
            title="@SelectedValue - Click to change"
            @onclick="async () => await SetSelectionAsync(string.Empty, true)"
            @onclick:preventDefault>
            @SelectedValue
        </a>
    }
    else
    {
        <input tabindex="@baseIndex"
                @bind-value="Value"
                @ref="inputElem"
                @bind-value:event="oninput" 
                placeholder="@PlaceHolderText" />
    }

    @if (!selected && values != null)
    {
        foreach (var result in values)
        {
            <p tabindex="@GetIndex(result)" class="@GetClass(result)" @onclick="async ()=>await SetSelectionAsync(result)">@result</p>
        }
    }
</div>
