@inherits EditorBase

@if (DocumentToEdit != null)
{
    <div class="container">
        <div class="row">
            @if (Insert)
            {
                <div class="alert alert-info">
                    <span class="oi oi-plus"></span>&nbsp;Add a new document.
                </div>
            }
            else
            {
                <div class="alert alert-info">
                    <span class="oi oi-pencile"></span>&nbsp;Edit the document with id '@DocumentToEdit.Uid'.
                </div>
            }
        </div>
        @if (ValidationStates.Any(vr => vr.IsValid == false))
        {
            <div class="row">
                <div class="col-12">
                    <ul>
                        @foreach (var vr in ValidationStates.Where
(v => v.IsValid == false))
                        {
                            <li><span class="oi oi-warning"></span>&nbsp;@vr.Message</li>
                        }
                    </ul>
                </div>
            </div>
        }
        @if (Insert)
        {
            <div class="row">
                <div class="col-12 text-left">
                    Unique ID:
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ValidatedInput AutoFocus="@Insert"
                                    PlaceHolder="Enter the document id"
                                    @bind-Value="@uid"
                                    @bind-Validation="@uidValidation"
                                    Validate="value => ValidationRules.ValidateProperty(nameof(Document.Uid), value)" />
                </div>
            </div>
        }
        <div class="row">
            <div class="col-12 field-label">
                Title:
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ValidatedInput AutoFocus="@(!Insert)"
                                PlaceHolder="Enter the document title"
                                @bind-Value="@title"
                                @bind-Validation="@titleValidation"
                                Validate="value => ValidationRules.ValidateProperty(nameof(Document.Title), value)" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @if (existingAlias)
                {
                    <AliasSearch @ref="aliasSearch"
                                 @bind-Alias="@alias" />
                }
                else
                {
                    <span>Enter new alias:&nbsp;</span>
                    <ValidatedInput @ref="newAliasInput"
                                    PlaceHolder="Enter the alias"
                                    @bind-Value="@alias"
                                    @bind-Validation="@aliasValidation"
                                    Validate="value => ValidationRules.ValidateProperty(nameof(Document.AuthorAlias), value)" />
                }
                <a href="#"
                   @onclick="async () => await ToggleAliasAsync()"
                   @onclick:preventDefault>
                    @aliasButton
                </a>&nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <span class="field-label">Choose tags:</span>&nbsp;
                <TagPicker @bind-Tags="@tagList" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 field-label">
                Description:
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ValidatedInput PlaceHolder="Enter the description"
                                @bind-Value="@description"
                                @bind-Validation="@descriptionValidation"
                                Validate="value => ValidationRules.ValidateProperty(nameof(Document.Description), value)" />
            </div>
        </div>
        <div class="row">
            <div class="col-5 field-label">
                Markdown:
            </div>
            <div class="col-6 field-label">
                Preview:&nbsp;
                <button class="btn btn-link btn-sm"
                        @onclick="() => MarkdownPreview()">
                    <span class="oi oi-reload"></span>&nbsp;Refresh preview
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <MultiLineEdit @bind-Text="@markdown" />
            </div>
            <div class="col-6">
                <HtmlPreview @ref="preview" IsEdit="true" Html="@html" />
            </div>
        </div>
    </div>
}
