@inherits ValidatedInputBase

<div class="container">
    <div class="row">
        <div class="col-12">
            @if (UseTextArea)
            {
                <textarea @ref="textAreaControl"
                          class="@error"
                          rows="10" 
                          cols="40"
                          @bind-value="@value"
                          @bind-value:event="oninput">
                </textarea>
            }
            else
            {
            <input @ref="inputControl"
                   class="@error"
                   type="text" 
                   @bind-value="@value" 
                   @bind-value:event="oninput"/>        
            }
        </div>
    </div>
    @if (Validation != null && Validation.IsValid == false)
    {
        <div class="row">
            <div class="col-12">
                <p>@Validation.Message</p>
            </div>
        </div>
    }
</div>